<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianshu.mapper.ArticleMapper" >
    <resultMap id="BaseResultMap" type="com.jianshu.pojo.Article">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="collection_id" property="collectionId" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="read_nums" property="readNums" jdbcType="INTEGER"/>
        <result column="like_nums" property="likeNums" jdbcType="INTEGER"/>
        <result column="image" property="image" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <!--根据文章集id 查询List.-->
    <select id="selectArticleByCollectionId" parameterType="Integer" resultMap="BaseResultMap">
        SELECT id,user_id,collection_id,title,read_nums,like_nums,image,content,create_time,update_time,status
        FROM article
        WHERE collection_id=#{collectionId}
    </select>
    <!--根据文章id 查询文章-->
    <select id="selectArticleById" resultMap="BaseResultMap">
       SELECT id,user_id,collection_id,title,read_nums,like_nums,image,content,create_time,update_time,status
        FROM article
        WHERE id=#{id}
    </select>
    <!--根据文章id 修改文章-->
    <update id="updataArticleById" parameterType="map">
        UPDATE article set title=#{title},content=#{content},update_time=#{updateTime},status=#{status} WHERE id=#{id}
    </update>
    <!--新建文章-->
    <insert id="saveArticle" parameterType="map">
        INSERT INTO article(user_id,collection_id,title,content,create_time,update_time)
         VALUE(#{userId},#{collectionId},#{title},#{content},#{createTime},#{updateTime})
    </insert>
    <!--根据id 删除文章-->
    <delete id="deleteArticle" parameterType="Integer">
        DELETE FROM article WHERE id=#{id}
    </delete>
    <!--查询所有的文章    联表查询  作者姓名-->
    <select id="selectAllArticle" resultMap="BaseResultMap">
        SELECT * FROM article;
    </select>
    <!--分页查询文章-->
    <select id="selectPageArticle" resultMap="BaseResultMap">
        SELECT * FROM article limit #{index},#{currentCount}
    </select>
    <!--查询总条数-->
    <select id="selectCountArticle" resultType="Integer">
        SELECT count(id) from article
    </select>
    <!--点击一次阅读量加一-->
    <update id="readNumsAddOne" >
        UPDATE article SET read_nums=#{readNums} WHERE id=#{id}
    </update>
    <!--根据userId 查询集合-->
    <select id="selectListByUserId" parameterType="Integer" resultMap="BaseResultMap">
        SELECT * FROM article where user_id=#{userId}
    </select>
</mapper>
