<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianshu.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.jianshu.pojo.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="nickname" property="nickName" jdbcType="VARCHAR"/>
        <result column="username" property="userName" jdbcType="VARCHAR"/>
        <result column="pwd" property="pwd" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="mail" property="mail" jdbcType="VARCHAR"/>
        <result column="user_desc" property="userDesc" jdbcType="VARCHAR"/>

        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="img" property="img" jdbcType="VARCHAR"/>
        <result column="web" property="web" jdbcType="VARCHAR"/>


    </resultMap>
    <insert id="insert" parameterType="com.jianshu.pojo.User">
        INSERT INTO user
        (nickname,username,pwd,sex,phone,mail,create_time,update_time,img)
        VALUES
         (#{nickName,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},#{pwd,jdbcType=VARCHAR},
         #{sex,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{mail,jdbcType=VARCHAR},
         #{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{img,jdbcType=VARCHAR})
    </insert>
    <select id="selectAllUser" resultMap="BaseResultMap">
        select id,nickname,username,pwd,sex,phone,mail,user_desc,create_time,update_time,img
        FROM user
    </select>
    <select id="selectByUserName"  resultType="com.jianshu.pojo.User">
        SELECT * FROM user WHERE username=#{userName,jdbcType=VARCHAR}
    </select>
    <select id="selectUserById" parameterType="Integer" resultMap="BaseResultMap">
        SELECT id,nickname,username,pwd,sex,phone,mail,user_desc,create_time,update_time,img
        FROM USER
        WHERE id=#{userId}
    </select>

    <!--分页查询主页显示user-->
    <select id="selectPageUser" resultMap="BaseResultMap">
        select id,nickname,img
        FROM user limit #{index},#{currentCount}
    </select>
    <!--查询总条数-->
    <select id="selectTotalCount" resultType="Integer">
        SELECT count(id) from user
    </select>
    <!--修改用户信息-->
    <update id="updateUser" parameterType="com.jianshu.pojo.User">
        UPDATE user  SET
        img=#{img},
        nickname=#{nickName},
        sex=#{sex},
        user_desc=#{userDesc},
        phone=#{phone},
        mail=#{mail},
        web=#{web},
        update_time=#{updateTime}
        where id=#{id}
    </update>


</mapper>

